<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Concessionária</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/veiculos/create">Cadastrar Veículos</a>
    </header>
    {{{body}}}
    <footer>
        <p>Fim de Página.</p>
    </footer>
</body>
</html>